.cls-1 {
    fill: #b2a6b2;
}

.cls-2 {
    fill: #fff;
}

.cls-3 {
    opacity: 0.1;
}

.cls-4 {
    fill: #f2932c;
}

.cls-5 {
    fill: #adadad;
}

.cls-6 {
    fill: #999;
}

.cls-7 {
    fill: #878787;
}
.cls-8{fill:#494949;}